<template>
  <div class="header">
    <div class="contact gitlab">
      <div class="contactDiv">
        <a  target="_blank" href="https://gitlab.com/vitorAlves">
          <i class="fab fa-gitlab"></i>
        <p class="contact-text">https://gitlab.com/vitorAlves</p></a>
      </div>
    </div>
    <div class="contact email">

      <div class="contactDiv">
        <a target="_blank"  href="mailto:mail@vitoralves.pt">

          <i class="fas fa-at"></i>
        <p class="contact-text">mail@vitoralves.pt
        </p>
        </a>
      </div>
    </div>
    <!--    <div class="contact phone">
          <div class="contactDiv">
          <font-awesome-icon :icon="['fas','website']"/>
          <p class="contact-text"><a href="tel:+351934383904">+351 934 383 904</a>
          </p>
          </div>
        </div>-->
    <div class="contact linkedin">
      <div class="contactDiv">
        <a target="_blank"  href="https://www.linkedin.com/in/alves-vitor/">
          <i class="fab fa-linkedin"></i>
        <p class="contact-text">https://www.linkedin.com/in/alves-vitor
        </p>
        </a>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'header',
}
</script>
<style lang="scss" scoped>
.contact {
  height: 3em;
  display: flex;
  flex: 1;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
}

.fas, .fab {
  color: white;
  font-size: 32px;
  overflow: visible;
  padding: 10px;
}

.contact {
  text-align: center;
}



.contactDiv {
  display: flex;
  width: fit-content;
  margin: auto;
}

.contact.gitlab {
  background: #9DBF9E;
}

.contact.email {
  background: #f95959;
}

.contact.phone {
  background: #455d7a;
}

.contact.linkedin {
  background: #233142;
}
 a {
  color: white;
  text-decoration: none;
  white-space: nowrap;
  display: flex;
}
@media only screen and (max-width: 600px) {
   .contact-text {
    font-size:14px;
    display:none;
  }

  .fas, .fab {
    color: white;
    font-size: 22px;
    overflow: visible;
    padding: 10px;
  }

}
</style>
