/* regular typography */
h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat';
}

body {
    font-family: 'Montserrat';
}

/* font faces */
@font-face {
font-family: 'Montserrat';
    font-style:normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}
