<template>
  <div class="hero">
    <Header/>
    <div class="hero-logo">
      <svg width="303" height="123" viewBox="0 0 303 123" fill="none" xmlns="http://www.w3.org/2000/svg" style="">
        <path d="M42.0289 2L98.4435 120L148.191 2L295.382 120C310.597 79.5 309.332 9.5 182.553 53.5C55.7735 97.5 8.69291 113.5 1 116" stroke="white" stroke-width="2" class="uNhfLIsO_0"></path>
   </svg>
    </div>
    <h1 class="hero-header">This Page is Currently Under Construction </h1>
  </div>
</template>
<script>
import Header from '../components/ui/header.vue'

export default {
  name: 'index',
  components: {
    Header
  }
}
</script>
<style lang="scss" scoped>
.uNhfLIsO_0{stroke-dasharray:824 826;stroke-dashoffset:825;animation:uNhfLIsO_draw 800ms ease-in 0ms forwards;}@keyframes uNhfLIsO_draw{100%{stroke-dashoffset:0;}}@keyframes uNhfLIsO_fade{0%{stroke-opacity:1;}92%{stroke-opacity:1;}100%{stroke-opacity:0;}}
  .hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #171717;

    .hero-logo {
      svg {
        width: 300px;
        height:auto;
        margin-bottom: 2rem;

        @include md {
          width: 621px;
          height: auto;

        }
      }
    }
    .hero-header {
      color: white;
      text-align: center;
      font-size: 20px;
      font-weight:300;
      @include md {
        font-size: 28px;
        font-weight:300;
      }

      span {
        color: #00C58E;
      }
    }
  }
</style>
